<div class="row" [neatScrollSpy]="{ id: 'uni2', selector: 'mains'}">
  <div class="col-sm-8" style="padding: 25px;" [neatScrollSpy]="{ id: 'uni3', selector: 'mains'}">
    <div [neatScrollSpy]="{ id: 'uni', selector: 'mains'}">
      <h2 class="mains">Item 1</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Sed blandit libero volutpat
        sed cras ornare arcu. Massa enim nec dui nunc mattis enim ut. Risus sed vulputate odio ut enim blandit volutpat.
        Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Sit amet luctus venenatis lectus magna. Sit
        amet nulla facilisi morbi tempus. Aliquet nibh praesent tristique magna sit amet purus. Urna et pharetra
        pharetra massa massa. Egestas pretium aenean pharetra magna.</p>
      <p>
        Ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Sagittis vitae et leo duis ut. Diam ut
        venenatis tellus in metus vulputate eu. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar proin.
        Lobortis elementum nibh tellus molestie nunc non blandit massa. Augue ut lectus arcu bibendum at varius vel
        pharetra vel. Suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Orci phasellus
        egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Sit amet consectetur adipiscing elit ut. Dictum
        fusce ut placerat orci nulla. Facilisis volutpat est velit egestas dui id. Eget egestas purus viverra accumsan
        in. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Porta non pulvinar neque
        laoreet suspendisse interdum consectetur libero id. Quam nulla porttitor massa id neque aliquam. Eget nullam non
        nisi est sit amet facilisis magna etiam. Nec ullamcorper sit amet risus nullam eget felis eget nunc. Accumsan
        lacus vel facilisis volutpat est velit egestas dui. Commodo elit at imperdiet dui accumsan sit amet. Volutpat
        sed cras ornare arcu dui vivamus arcu.</p>
      <p>
        Quisque non tellus orci ac auctor augue mauris augue neque. Nulla aliquet enim tortor at. Etiam tempor orci eu
        lobortis elementum nibh tellus molestie. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed.
        Gravida dictum fusce ut placerat orci nulla. In ante metus dictum at tempor commodo ullamcorper. Gravida cum
        sociis natoque penatibus et magnis dis parturient montes. Sit amet risus nullam eget. Egestas sed sed risus
        pretium. Massa massa ultricies mi quis. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis.
        Dignissim enim sit amet venenatis urna cursus.</p>
      <p>
        Vel turpis nunc eget lorem dolor sed viverra ipsum. Lobortis mattis aliquam faucibus purus. At consectetur lorem
        donec massa sapien. Enim facilisis gravida neque convallis a cras semper auctor. Cursus risus at ultrices mi.
        Pellentesque pulvinar pellentesque habitant morbi tristique. Phasellus vestibulum lorem sed risus. Velit aliquet
        sagittis id consectetur purus ut faucibus pulvinar. Curabitur gravida arcu ac tortor dignissim convallis aenean.
        Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Vitae et leo duis ut diam quam. Imperdiet dui
        accumsan sit amet nulla facilisi. In fermentum posuere urna nec tincidunt.</p>
      <p>
        Eu facilisis sed odio morbi quis commodo odio aenean. Et malesuada fames ac turpis egestas sed tempus. Iaculis
        urna id volutpat lacus laoreet. Penatibus et magnis dis parturient. Pharetra sit amet aliquam id diam maecenas
        ultricies mi eget. Nibh sed pulvinar proin gravida. Vitae justo eget magna fermentum iaculis eu non diam.
        Dignissim convallis aenean et tortor at risus viverra adipiscing. A condimentum vitae sapien pellentesque. Cras
        fermentum odio eu feugiat pretium nibh ipsum consequat. Id diam maecenas ultricies mi eget. Sed lectus
        vestibulum mattis ullamcorper velit sed ullamcorper morbi. Convallis posuere morbi leo urna molestie at
        elementum eu facilisis. Facilisis magna etiam tempor orci eu. Feugiat nisl pretium fusce id velit ut tortor
        pretium viverra. Est placerat in egestas erat imperdiet. Cum sociis natoque penatibus et magnis dis parturient.
      </p>
      <div>
        <h3 class="mains">Item 2</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Sed blandit libero volutpat
          sed cras ornare arcu. Massa enim nec dui nunc mattis enim ut. Risus sed vulputate odio ut enim blandit
          volutpat.
          Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Sit amet luctus venenatis lectus magna. Sit
          amet nulla facilisi morbi tempus. Aliquet nibh praesent tristique magna sit amet purus. Urna et pharetra
          pharetra massa massa. Egestas pretium aenean pharetra magna.</p>
        <p>
          Ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Sagittis vitae et leo duis ut. Diam ut
          venenatis tellus in metus vulputate eu. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar proin.
          Lobortis elementum nibh tellus molestie nunc non blandit massa. Augue ut lectus arcu bibendum at varius vel
          pharetra vel. Suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Orci phasellus
          egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Sit amet consectetur adipiscing elit ut. Dictum
          fusce ut placerat orci nulla. Facilisis volutpat est velit egestas dui id. Eget egestas purus viverra accumsan
          in. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Porta non pulvinar neque
          laoreet suspendisse interdum consectetur libero id. Quam nulla porttitor massa id neque aliquam. Eget nullam
          non
          nisi est sit amet facilisis magna etiam. Nec ullamcorper sit amet risus nullam eget felis eget nunc. Accumsan
          lacus vel facilisis volutpat est velit egestas dui. Commodo elit at imperdiet dui accumsan sit amet. Volutpat
          sed cras ornare arcu dui vivamus arcu.</p>
        <p>
          Quisque non tellus orci ac auctor augue mauris augue neque. Nulla aliquet enim tortor at. Etiam tempor orci eu
          lobortis elementum nibh tellus molestie. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed.
          Gravida dictum fusce ut placerat orci nulla. In ante metus dictum at tempor commodo ullamcorper. Gravida cum
          sociis natoque penatibus et magnis dis parturient montes. Sit amet risus nullam eget. Egestas sed sed risus
          pretium. Massa massa ultricies mi quis. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis.
          Dignissim enim sit amet venenatis urna cursus.</p>
        <p>
          Vel turpis nunc eget lorem dolor sed viverra ipsum. Lobortis mattis aliquam faucibus purus. At consectetur
          lorem
          donec massa sapien. Enim facilisis gravida neque convallis a cras semper auctor. Cursus risus at ultrices mi.
          Pellentesque pulvinar pellentesque habitant morbi tristique. Phasellus vestibulum lorem sed risus. Velit
          aliquet
          sagittis id consectetur purus ut faucibus pulvinar. Curabitur gravida arcu ac tortor dignissim convallis
          aenean.
          Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Vitae et leo duis ut diam quam. Imperdiet dui
          accumsan sit amet nulla facilisi. In fermentum posuere urna nec tincidunt.</p>
        <p>
          Eu facilisis sed odio morbi quis commodo odio aenean. Et malesuada fames ac turpis egestas sed tempus. Iaculis
          urna id volutpat lacus laoreet. Penatibus et magnis dis parturient. Pharetra sit amet aliquam id diam maecenas
          ultricies mi eget. Nibh sed pulvinar proin gravida. Vitae justo eget magna fermentum iaculis eu non diam.
          Dignissim convallis aenean et tortor at risus viverra adipiscing. A condimentum vitae sapien pellentesque.
          Cras
          fermentum odio eu feugiat pretium nibh ipsum consequat. Id diam maecenas ultricies mi eget. Sed lectus
          vestibulum mattis ullamcorper velit sed ullamcorper morbi. Convallis posuere morbi leo urna molestie at
          elementum eu facilisis. Facilisis magna etiam tempor orci eu. Feugiat nisl pretium fusce id velit ut tortor
          pretium viverra. Est placerat in egestas erat imperdiet. Cum sociis natoque penatibus et magnis dis
          parturient.
        </p>
        <h3 class="mains">Item 3</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Sed blandit libero volutpat
          sed cras ornare arcu. Massa enim nec dui nunc mattis enim ut. Risus sed vulputate odio ut enim blandit
          volutpat.
          Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Sit amet luctus venenatis lectus magna. Sit
          amet nulla facilisi morbi tempus. Aliquet nibh praesent tristique magna sit amet purus. Urna et pharetra
          pharetra massa massa. Egestas pretium aenean pharetra magna.</p>
        <p>
          Ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Sagittis vitae et leo duis ut. Diam ut
          venenatis tellus in metus vulputate eu. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar proin.
          Lobortis elementum nibh tellus molestie nunc non blandit massa. Augue ut lectus arcu bibendum at varius vel
          pharetra vel. Suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Orci phasellus
          egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Sit amet consectetur adipiscing elit ut. Dictum
          fusce ut placerat orci nulla. Facilisis volutpat est velit egestas dui id. Eget egestas purus viverra accumsan
          in. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Porta non pulvinar neque
          laoreet suspendisse interdum consectetur libero id. Quam nulla porttitor massa id neque aliquam. Eget nullam
          non
          nisi est sit amet facilisis magna etiam. Nec ullamcorper sit amet risus nullam eget felis eget nunc. Accumsan
          lacus vel facilisis volutpat est velit egestas dui. Commodo elit at imperdiet dui accumsan sit amet. Volutpat
          sed cras ornare arcu dui vivamus arcu.</p>
        <p>
          Quisque non tellus orci ac auctor augue mauris augue neque. Nulla aliquet enim tortor at. Etiam tempor orci eu
          lobortis elementum nibh tellus molestie. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed.
          Gravida dictum fusce ut placerat orci nulla. In ante metus dictum at tempor commodo ullamcorper. Gravida cum
          sociis natoque penatibus et magnis dis parturient montes. Sit amet risus nullam eget. Egestas sed sed risus
          pretium. Massa massa ultricies mi quis. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis.
          Dignissim enim sit amet venenatis urna cursus.</p>
        <p>
          Vel turpis nunc eget lorem dolor sed viverra ipsum. Lobortis mattis aliquam faucibus purus. At consectetur
          lorem
          donec massa sapien. Enim facilisis gravida neque convallis a cras semper auctor. Cursus risus at ultrices mi.
          Pellentesque pulvinar pellentesque habitant morbi tristique. Phasellus vestibulum lorem sed risus. Velit
          aliquet
          sagittis id consectetur purus ut faucibus pulvinar. Curabitur gravida arcu ac tortor dignissim convallis
          aenean.
          Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Vitae et leo duis ut diam quam. Imperdiet dui
          accumsan sit amet nulla facilisi. In fermentum posuere urna nec tincidunt.</p>
        <p>
          Eu facilisis sed odio morbi quis commodo odio aenean. Et malesuada fames ac turpis egestas sed tempus. Iaculis
          urna id volutpat lacus laoreet. Penatibus et magnis dis parturient. Pharetra sit amet aliquam id diam maecenas
          ultricies mi eget. Nibh sed pulvinar proin gravida. Vitae justo eget magna fermentum iaculis eu non diam.
          Dignissim convallis aenean et tortor at risus viverra adipiscing. A condimentum vitae sapien pellentesque.
          Cras
          fermentum odio eu feugiat pretium nibh ipsum consequat. Id diam maecenas ultricies mi eget. Sed lectus
          vestibulum mattis ullamcorper velit sed ullamcorper morbi. Convallis posuere morbi leo urna molestie at
          elementum eu facilisis. Facilisis magna etiam tempor orci eu. Feugiat nisl pretium fusce id velit ut tortor
          pretium viverra. Est placerat in egestas erat imperdiet. Cum sociis natoque penatibus et magnis dis
          parturient.
        </p>
        <h2 class="mains" [attr.data-align]="1">Item 4</h2>
      </div>

    </div>
  </div>
  <div class="col-sm-4">
    <div style="position: fixed">
      <h5>Create Simply Scrollspy</h5>
      <neat-scrollspy-template [highlightOptions]="{ type: 'background-color', highlightColor: 'grey' }"
        [neatScrollspyOptions]="{ id: 'uni' }"></neat-scrollspy-template>
      <br>
      <br>
      <h5>Change Scrollspy styling</h5>
      <neat-scrollspy-template [neatScrollspyOptions]="{ id: 'uni2' }"></neat-scrollspy-template>
      <br>
      <br>
      <h5>Change Scrollspy Alignment</h5>
      <neat-scrollspy-template [neatScrollspyOptions]="{ id: 'uni3' }" [alignOption]="{ type: 'auto' }"></neat-scrollspy-template>
    </div>

  </div>
</div>